/*.o
/dm_client/src/run_CLIcmd.o
/dm_client/src/main.o
/dm_client/src/net_utils.o
/dm_client/src/parsing.o
/dm_client/src/*.o
/dm_client/src/dm_client
/.idea/.gitignore
/.idea/modules.xml
/.idea/openwrt_tfortis_packages.iml
/.idea/vcs.xml
/.idea/editor.xml
/dm_client/.idea/workspace.xml
/tf_autorestart/files/other/errors
/.idea/misc.xml
/tf_autorestart/src/cmake-build-debug/build.ninja
/tf_autorestart/src/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/.idea/.name
/tf_autorestart/src/cmake-build-debug/CMakeFiles/3.27.0/CompilerIdC/a.out
/tf_autorestart/src/cmake-build-debug/.cmake/api/v1/query/cache-v2
/tf_autorestart/src/cmake-build-debug/.cmake/api/v1/reply/cache-v2-f39ec4ce133822c00d6c.json
/tf_autorestart/src/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/tf_autorestart/src/cmake-build-debug/CMakeFiles/clion-environment.txt
/tf_autorestart/src/cmake-build-debug/CMakeFiles/cmake.check_cache
/tf_autorestart/src/cmake-build-debug/cmake_install.cmake
/.idea/.name
/tf_autorestart/src/cmake-build-debug/
